@charset "utf-8";

$fonts: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
  'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
$body-family: $fonts;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import '../node_modules/bulma/bulma.sass';

$app-primary: #3e68de;
$app-primary-light: #4d75e8;
$primary: $app-primary;
$primary-text-color: #010101;

section {
  height: 100%;
}

.footer {
  background-color: #fcfbf7;
}

.hero.is-primary {
  background-color: $app-primary;
  color: #fff;
}
.navbar-item-button {
  background-color: transparent;
  border: none;
  font-size: 1rem;
  padding: 0.6rem;
  min-width: 7rem;
  font-weight: 500;
  cursor: pointer;
  color: $black-ter;
  vertical-align: bottom;

  &:hover {
    color: $primary;
  }
}
.title {
  font-size: 3rem;
  font-weight: 800;
}
.subtitle {
  font-weight: 500;
}
.hero-image {
  width: auto;
  max-height: 700px;
}

.hero-body .title {
  color: $primary;
}
.button {
  border-radius: 10px;
}

.is-hero-button {
  background-color: $primary;
  color: white;
  font-weight: 500;
  border: none;

  &:hover {
    background-color: $app-primary-light;
    border: none;
    color: white;
    outline: none;
  }
  &:active {
    background-color: $app-primary-light;
    border: none;
    color: white;
    outline: none;
  }
  &:focus {
    background-color: $app-primary-light;
    border: none;
    color: white;
    outline: none;
  }
}
.link-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-weight: bold;
  font-size: 1rem;
  padding: 0 2rem;

  &:hover {
    background-color: transparent;
    border: none;
    color: $primary;
  }
}

.button.is-primary {
  background-color: $primary;
  border: none;
  color: #fff;

  &:hover {
    background-color: $app-primary-light;
    border: none;
    color: #fff;
  }
  &:active {
    outline: none;
    color: white;
  }
  &:focus {
    outline: none;
    color: white;
  }
}
.input-error {
  font-size: 0.8rem;
  color: $red;
  position: relative;
  bottom: 0;
}
.input-label {
  font-size: 0.8rem;
  font-weight: 600;
  display: block;
}
.login-input-elements-wrapper {
  padding: 1em;
  display: block;
}
.login-input-elements-wrapper .input-wrapper {
  height: 6em;
}
.login-input-elements-wrapper .message-body {
  padding: 0.5em 1.5em;
}

.is-primary.input,
.is-primary.textarea {
  border-color: #ccc;
}

.is-primary.input:focus,
.is-primary.textarea:focus {
  border-color: $primary;
  box-shadow: none;
}
.form {
  width: 100%;
}
.modal-card-head,
.modal-card-foot {
  background-color: white;
}
.modal-card-title {
  text-transform: capitalize;
}
.link-text {
  text-decoration: underline;
  cursor: pointer;
}

.link-text:hover {
  color: $app-primary;
}
.modal-card-body {
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}
.avatar {
  width: auto;
  max-height: 60px;
  border-radius: 50%;
}

.navbar-item-button {
  padding: 1rem;
  min-width: unset;
}

.dashboard-main {
  background-color: #ebebf5;
  padding: 0.5rem 5rem;
  color: $primary-text-color;
  min-height: 100vh;
}
.dashboard-panel {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.dashboard-header {
  font-size: 2.3rem;
  font-weight: 600;
  letter-spacing: 0.2rem;
  margin-bottom: 2rem;
}

.dashboard-header-menu {
  > svg {
    margin-left: 2rem;
    cursor: pointer;
    padding: 0.3rem;
    &:hover {
      background-color: white;
      border-radius: 10px;
    }
  }
  > figure {
    margin-left: 4rem;
  }
}
.dashboard-content {
  border-radius: 40px;
  background-color: #f4f4fc;
}
.dashboard-menu-item {
  padding: 0.8rem 1rem 0.8rem 0.4rem;

  > a {
    color: #777;

    &:hover {
      color: $primary-text-color;
    }
  }
  &:hover {
    border-left: 0.2rem solid $primary-text-color;
    padding-left: 0.2rem;
  }
}

@keyframes slide-from-bottom {
  from {
    transform: translateY(50%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@-webkit-keyframes slide-from-bottom {
  from {
    transform: translateY(50%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.is-active .auth-modal {
  animation-name: slide-from-bottom;
  animation-duration: 0.4s;
  animation-timing-function: ease-out;
  animation-iteration-count: 1;

  -webkit-animation-name: slide-from-bottom;
  -webkit-animation-duration: 0.4s;
  -webkit-animation-timing-function: ease-out;
  -webkit-animation-iteration-count: 1;
}
@media (min-width: $fullhd) {
  .navbar {
    padding: 0.5rem 5rem;
  }
  .hero.is-large .hero-body {
    padding: 0 0 10rem 10rem;
  }
}
